table.dltrc {
  width: 100%;
}

tr.dlheader {
  text-align: center;
  font-weight: bold;
  padding: 2px;
}

td.dlheader {
  background-color: #292826;
  text-align: center;
  font-weight: bold;
  padding: 2px;
}

tr.dlinfo,
td.dlinfo {
  text-align: center;
  padding: 5px 2px;
}

td.dlinfo {
  border-left: solid #292826 1px;
  border-bottom: solid #292826 1px;

  background: #acacac;
  color: #f9d342;
}

td.dlheader:first-child {
  border-radius: 5px 0 0 0;
}

td.dlheader:last-child {
  border-radius: 0 5px 0 0px;
}

td.dlinfo:last-child {
  border-right: solid #292826 1px;
}

td {
  padding: 5px 2px;
}
