{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/users.css' %}"
    />
  </head>
  <body>
    <h1>User Table</h1>
    <table class="dltrc" style="background: none">
      <tbody>
        <tr class="dlheader">
          <td class="dlheader">Username</td>
          <td class="dlheader">Email</td>
        </tr>

        {% for i in users %}
          <tr class="dlinfo">
            <td class="dlinfo">{{i.username}}</td>
            <td class="dlinfo">{{i.email}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
